body{
	background-color: #ffffff;
	background-repeat:no-repeat;
}
h1{
	font-size:50px;
	color: red;
	text-align: center;
	font-family:Verdana;
}	
#CAIXAODS{
	background-color:green;
}
#desafios{
        background-repeat:no-repeat;
	color:green;
	font-family:arial;
	font-size:47px;
}
@media only screen and (max-width:500px){
	body{
		background:yellow;
		}
}
#títuparagrafodesafiosenfrentados{
	font-family:arial;
	font-size:47px;
}
#títupapelnatureza{
	font-family:arial;
	font-size:47px;
}
#METAS{
	font-family:arial;
	font-size:47px;
}
#direitos{
	font-size:20px;
}
#títudes{
	font-family:arial;
	font-size:47px;
}
.grid-container{
        display:grid;
        grid-template-rows: repeat (3,200px);
        grid-template-columns: 1fr 1fr 1fr;
}
.grid-item-1{
	padding-top:15px;
        grid-row:1/1;
}
.grid-item-2{
     padding-top:15px;
     grid-row:1/2;
}
.grid-item-3{
    padding-top:15px;
    grid-row:1/2;
}
.grid-item-4{
    padding-top:15px
    grid-row:1/2;
}
.grid-item-5{
   padding-top:15px;
   grid-row:1/2;
}
.grid-item-6{
   padding-top:15px;
   grid-row:1/2;
}
.grid-item-7{
   padding-top:15px;
   grid-row:1/2;
}
.grid-item-8{
   padding-top:15px;
   grid-row:1/2;
}

